html, body {
	margin: 0;
	padding: 0;
}

.header {margin-bottom: 20px;}
.footer {margin-top: 20px;}

.photo {
	position: absolute;
	top: 30px;
	left: 300px;
	border: 1px solid #16a085;
	background-color: #1abc9c;
}
